* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  width: 270px;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(bg.jpeg);
}

.main-content {
  margin-left: 270px;
  transition: margin-left 300ms;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
  
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1 rem;
}

.sidebar-menu {
  position: relative;
  margin: 0 10%;
  text-align: right;
  top: 15%;
}

.sidebar-menu ul li {
  margin: 10% 0;
  border-bottom: 0.5px solid #8a8a8a;
}

.sidebar-menu ul li a {
  display: block;
  padding: 5px 12px;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.sidebar-menu i {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar-menu ul li a:hover {
  background: #fff;
  color: #009688;
  border-radius: 30px 0px 0px 30px;
}

.logo {
  cursor: pointer;
  padding: 10px 25px;
  width: 180px;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  
}

.user ul li{
  position: relative;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-size: 22px;
  right: 20px;
}

.user a i{
  color: #000;
}

.user a i:hover, .search i:hover {
  color: #009688;
  font-size: 25px;
}

.search{
  position: relative;
  height: 40px;
  max-width: 600px;
  width: 100%;
  border: 1px solid #8a8a8a;
  border-radius: 30px;

}

.search i {
  padding: 11px 10px;
  font-size: 16px;
}

.search input {
  border: none;
  outline: none;

}



.sidebar-menu a span:first-child {
  font-size: 1.5 rem;
  padding-right: 1 rem;
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand span img,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100%-70px);
  left: 70px;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .sidebar-brand span img,
  .sidebar li a span:last-child {
    display: none;
  }

  .main-content {
    margin-left: 70px;
  }

  .main-content header {
    width: calc(100%-70px);
    left: 70px;
  }

  .search {
    display: none;
  }
}